@model restuarantmanagmentsystem.Models.Order
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Remove Item";
}


    <dl class="row" id="centertext">
        <h3>Are you sure you want to delete this item?</h3>
    <hr />
        <dd class = "col-sm-10">
        <h5>@Html.DisplayFor(model => model.Items)</h5>
        </dd>
        <dd class = "col-sm-10">
        <h5>£ @Html.DisplayFor(model => model.Total)</h5>
        </dd>
    <form asp-action="RemoveItem" id="centertext">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Remove" class="btn btn-danger" />
    </form>
    </dl>
<a class="btn btn-danger" asp-controller="Orders" asp-action="Details" asp-route-id=@Accessor.HttpContext.Session.GetInt32("_TableID")>Back</a>




